.search-container-box{
    margin-top: -20px;
    min-height: 301px;
    margin-bottom: 30px;
    padding: 60px 75px;
    background-color: #59d8fd;
}


.sug-img{

  width: 80px;
}

.hidden {
    display: none;
}

.search-container {
    position: relative;
    padding-top: 15%;
    margin: 0px 30%;
}

.search-input {
    height: 65px;
    font-size: 18px;
    border: none;
    display: block;
    width: 90%;
    /* width: 100%; */
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #d9deea;
    border-radius: 4px;
    font-family: InterRegular,sans-serif;
    font-size: 14px;
    color: #12477a;
    font-weight: 400;
    outline: none;
}

.homeslider{
  padding: 0px 6%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 0px 10px; */
}
.search-button{
    flex: 1 0 160px;
    background-color: #12477a;
    width: 50px;
    border: none;
    border-radius: 0 4px 4px 0;
    width: 25px;
    height: 65px;
    color: #ffffff;
    font-size: 22px;

}
.sds-icon{
    --sds-c-icon-color-foreground-default: #ffffff;
    width: 32%;
}
.dropdown{
    max-height: 200px;
    overflow-y: auto;
    margin-top:2px;
}

.dropdown-allproducts{
    max-height: 200px;
    overflow-y: auto;
    /* margin-top:2px; */
}
.container{
    padding: 25px 25px;
}

/* Carousel CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000116;
  }

  .slider{
    position: relative;
    background: #000116;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }

  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    /* transition: 2s; */
  }

  .slider .slide img{
    position: absolute;
    width: 100%;
    /* height: 115%; */
    object-fit: cover;
    margin-top: -6%;
  }

  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  .homeslider {
      /* margin-left: 20px; */
  }

  .banner-txt {
    position: relative;
    padding: 50px 15px 90px;
    display: block;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    max-width: 430px;
    left: 70px;
  }

  .banner-txt .banner-pill{
    padding: 8px 20px;
    color: #fff;
    display: inline-block;
    background: #0C0E1680;
    border-radius: 20px;
    max-width: 230px;
    text-align: center;
    margin-bottom: 60px;
    /* position: absolute;
    top: 50px; */
  }

  .banner-txt h2 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 20px;
  }

  .banner-txt p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .banner-txt a{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: solid 2px #fff;
    border-radius: 4px;
    max-width: 150px;
    text-align: center;
  }
  .banner-txt a:hover{
    color: #000116;
    text-decoration: none;
    background-color: #fff;
  }

  .homeslider .navigation-visibility .slide-icon {
    height: 6px !important;
    width: 6px !important;
    border-radius: 50%;
}

  .homeslider .navigation-visibility .slide-icon.active {
    background: #fff !important;
    width: 20px !important;
    border-radius: 10px;
}


  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }

  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }

  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .slider:hover .navigation{
    opacity: 1;
  }

  .prev-btn, .next-btn{
    font-size: 2em;
    z-index: 999;
    padding: 10px;
    color: #858B8E;
    cursor: pointer;
  }
  .prev-btn  button, .next-btn button {
    font-size: 2em;
    /* font-size: 30px; */
    color: #858B8E;
    width: 30px;
}
.btn-class{
position: relative;
size: 30px;
--sds-c-icon-color-foreground-default:  #858B8E;
/* --sds-c-icon-color-background: gray; */

}



  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }

  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 20px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .navigation-visibility .slide-icon.active{
    background: #858B8E;
  }
  .navigation  .slds-button__icon,
  .prev-btn .slds-button__icon, .next-btn .slds-button__icon {font-size: 30px;width: 30px;height: 30px;}


tr{
  border: 1px solid lightgray;
}
td{
  padding: 2%;
}

/* new search box added by Anshul */
.search-main{
  width: 90%;
  margin-left: 5%;
  padding-left: 1rem;
}

.only-search-container{
  position: relative;
  width: 35%;
}

.only-search-container .search-button{
  flex: 1 0 80px;
  background-color: #12477a;
  width: 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 25px;
  height: 65px;
  color: #ffffff;
  font-size: 22px;

}


@media (max-width: 1024px) {
	.only-search-container{
		width: 55%;
	}
}

@media (max-width: 768px) {
	.only-search-container{
		width: 70%;
	}
}

@media (max-width: 480px) {
  .search-main{
    margin-left: 5%;
  }
	.only-search-container{
		width: 100%;
	}
}

  /* Hovering Effects */


  /* .dropdown {
    position: relative;
} */

.dropdown table tr {
    cursor: pointer;
}

.dropdown table tr:hover {
    background-color: #f0f0f0;
    color:#12477a;
    /* text-decoration: underline; */
}

.dropdown table tr a {
    color: inherit;
    text-decoration: none;
}

.dropdown table tr:hover a {
    color: blue;
}

  @media (max-width: 900px){
    .homeslider{
      margin-left: 0px;
      /* padding: 0 10px; */
    }
    .slider{
      width: 100%;
    }

    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767px){
    .homeslider{
      margin-left: 0px;
      /* padding: 0 10px; */
    }
    .banner-txt h2{font-size: 22px;}
    .banner-txt{
      padding-left  : 8%;
      padding-right : 8%;
      left: 0;
  }
  .banner-txt p {
    font-size: 14px !important;
  }
    .banner-txt .banner-pill{max-width: 190px; margin-bottom: 30px;}

    /* .navigation > *{display: none;} */
    .homeslider .navigation {
       height: auto;
       bottom: 25px;
       position: absolute;
       left: 0;
       width: 100%;
       z-index: 999;
      }



      .homeslider .navigation-visibility {
       height: 500px;
       position: relative;
       display: flex;
       align-items: flex-end;
       z-index: 0;
      }



      .homeslider .navigation lightning-icon.btn-class.prev-btn {
       left: 50%;
       transform: translateX(-90px);
      }
      .homeslider .navigation lightning-icon.btn-class.next-btn {
       right: 50%;
       transform: translateX(90px);
      }
  }
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }

    .slider .slide .info p{
      font-size: 0.9em;
    }
  }
  @media (max-width:350px){
    .banner-txt p {
       font-size: 14px !important;
     }
    }