.empty-cart{
    float:right
}

.my-cus-button{
     --slds-c-button-brand-color-background: #155c9e;
     --slds-c-button-brand-color-background-hover: #0f3a63;
 }

 .slds-table:hover{
    background-color: none;
 }

 .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
 }

 /* lightning-input{
    width:20%;
 } */

 /* .input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
 } */
.qty-utilies{
    width: inherit;
    display: inline-flex;
    align-items: center;
    gap: 10px
}
.show-qty-input{
    width: 70px;
    border-radius: 5px;
    border: 0.1px solid lightgray;
    line-height: 1.5rem;
    text-align: center;
    margin: 0px 5px;
 }
 .btn{
    --slds-c-button-radius-border: 20px;
 }

 .no-product{
    font-size: 10pt;
    font-weight: bold;
    color: #155c9e;
    margin-right: 10px;
 }

.button-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.th-background{
    background: #155c9e;
    color: white;
    text-align:center;
    /* font-size: .8rem; */
    font-size: 1rem;
    /* font-weight: 800; */
    height: 40px;
}
.table-style{
    /* height: 40vh; */
    border: 1px solid lightgray;
    border-collapse: collapse;
}
.slds-border_right{
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align:center;
}
.align-center{
    text-align: center;
}
.rightsection {
    float: right !important;
}
.rightTable td.first {
    padding-bottom: 5px;
    text-align: right;
    width: 60%;
}
.rightTable td.second {
    float: right;
    padding-right: 9px;
}

.product-title {text-align: center; margin-bottom: 15px; }
.product-title:hover {color: #0a32c6;}

img{
    width: 100px;
}

.col-width{
    width: 10%;
}

.additional-low{
    width: 5%;
}
.additional-ex{
    width: 20%;
}

.h1-section{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

.table-class thead th{
    height: 50px;
}
.footer-td{
    color: #12477a;
    font-weight: 700;
    font-size: 1rem;
}
.btn-icon{
    min-width: 8%;
    min-height: 40px;
    background-color: #155c9e;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    user-select: none;
    line-height: 1.2;
    transition: all .3s;
    text-align: center;
    --slds-c-icon-color-foreground-default: white;
}
.btn-icon-border{
    min-width: 8%;
    min-height: 40px;
    border: 1px solid #155c9e;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    color:#155c9e;
    user-select: none;
    line-height: 1.2;
    transition: all .3s;
    text-align: center;
    --slds-c-icon-color-foreground-default: #155c9e;
}

.btn-icon-border:hover{
    background-color: #155c9e;
    --slds-c-icon-color-foreground-default: #fff;
    color: #fff;
}
.btn-icon:hover{
    background-color: #fff;;
    --slds-c-icon-color-foreground-default: #155c9e;;
    color: #155c9e;
    border: 1px solid #155c9e;
}