h1{
    font-size:1.1rem;
    text-align:center;
    text-transform: capitalize;
}


h3{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
}

span{
    color: #59d8fd;
}

.modal-item-grid{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.modal-item{
    border: 1px solid lightgray;
    width: calc(20% - 30px);
    margin: 0 15px 25px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
}

.modal-item :hover{
    cursor: pointer;
}

/* for responsive*/
.products .modal-item
{
    width: calc(33.33% - 30px) !important;
}
@media (max-width: 768px) {
    .products .modal-item
    {
        width: calc(50% - 30px) !important;
    }
.modal-item
    {
        width: calc(50% - 30px) !important;
    }
}

@media (max-width: 480px) {
    .products .modal-item
    {
        width: calc(100% - 30px) !important;
    }
     .modal-item
    {
        width: calc(100% - 30px) !important;
    }
}

.modal-item
{
    /* -webkit-box-shadow: -2px 2px 5px -4px #000000;
    box-shadow: -2px 2px 5px -4px #000000; */
    -webkit-box-shadow: -2px 2px 5px -4px #000000;
    box-shadow: 5px 4px 5px 0px #2c6ca8;
    border: 1px solid #59d8fd;
}
/* for shadow
-webkit-box-shadow: -2px 2px 5px -4px #000000;
    box-shadow: -2px 2px 5px -4px #000000; */

    .grid-box {
        width: 100%; /* Occupy the available width within the grid cell */
        text-align: center; /* Center content */
    }

    .modal-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover the box */
        margin-bottom: 10px;
    }

    .products .modal-item
    {
        padding: 0px  !important;
    }
    .product_info
    {
        padding: 10px;
    }
    .product_cta {
        display: flex;
        align-items: center;
        padding-top: 10px;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .product_cta a {
        background-color: #155c9e;
        padding: 8px 10px;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        width: 100% !important;
    display: block;
    }