.modal-item-grid{
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

/* css for breadcrumbs */

.breadcumb-box{

  margin-bottom: 15px

}

.breadcumb-box ul{

  padding:0;

  margin: 0;

  list-style: none;

}

.breadcumb-box ul li{

  display: inline-block;

  padding-right: 5px;

  font-size: 16px;

}

.breadcumb-box ul li a{

  color:#909090

}

.breadcumb-box ul li a:hover{

  color: #000;

  text-decoration: underline;

}

.breadcumb-box ul li span{

  color:#000

}

.breadcumb-box ul li:after{

    content: "";
    border-color: #909090;
    border-style: solid solid none none;
    border-width: 2px;
    display: inline-block;
    flex: none;
    height: 8px;
    margin: 3px 10px 0px 6px;
    transform: rotate(45deg);
    width: 8px;
}

.breadcumb-box ul li:last-child:after{

  display:none;

}